.header {
  position: relative; }

.header__images {
  width: 100%;
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.7)), to(rgba(40, 180, 133, 0.7))), url("../img/hero-small.jpg");
  background-image: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url("../img/hero-small.jpg");
  background-image: -o-linear-gradient(left top, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url("../img/hero-small.jpg");
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url("../img/hero-small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }

.header__text {
  height: 100%;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
  -ms-flex-pack: none;
  justify-content: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .header__text h1 span:nth-child(1) {
    display: block;
    font-size: 60px;
    letter-spacing: 35px; }
  .header__text h1 span:nth-child(2) {
    margin-top: 20px;
    letter-spacing: 15px;
    font-size: 22px; }
  .header__text button {
    width: 250px;
    padding: 20px;
    border-radius: 40px;
    border: none;
    background-color: #ffffff;
    color: #777;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    top: 60px; }
    .header__text button:hover {
      -webkit-animation: pulse-purple-1 2s;
      animation: pulse-purple-1 2s; }
    .header__text button:focus {
      outline: transparent; }

@-webkit-keyframes pulse-purple-1 {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff; }
  100%,
  30% {
    -webkit-box-shadow: 0 0 0 26px transparent;
    box-shadow: 0 0 0 26px transparent; } }

@keyframes pulse-purple-1 {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff; }
  100%,
  30% {
    -webkit-box-shadow: 0 0 0 26px transparent;
    box-shadow: 0 0 0 26px transparent; } }
