@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import './mixins.scss';
@import './variables.scss';
@import './menu.scss';
@import './header.scss';
@import './section__about.scss';
@import './section__features.scss';
@import './section__tours.scss';
@import './section__stories.scss';
@import './section__book.scss';
@import './footer.scss';
@import './popup.scss';
@import './go__to__top.scss';
@import './button.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  padding: 30px 30px 0;
}
