$colorGreen57a: #55c57a;
$colorWhite: #ffffff;
$linerGradientOrange: to right bottom, rgba(255, 185, 0, 1),
  rgba(255, 119, 48, 1);
$linerGradientGreen: to right bottom, rgba(126, 213, 111, 1),
  rgba(40, 180, 133, 1);
$linerGradientBlue: to right bottom, rgba(41, 152, 255, 1), rgba(86, 67, 250, 1);
